{% extends 'base.html' %}

{% block title %}Životinje{% endblock %}

{% block content %}
    <h2>Popis Životinja</h2>
    
    {% if zivotinje %}
        <ul>
            {% for zivotinja in zivotinje %}
                <li>
                    <a href="{% url 'zivotinja_detail' zivotinja.id %}">
                        {{ zivotinja.ime }} ({{ zivotinja.hrvatski_naziv }})</a>
                    <a href="{% url 'zivotinja_update' zivotinja.id %}">Uredi</a>
                    <a href="{% url 'zivotinja_archive' zivotinja.id %}">Arhiviraj</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nema unesenih životinja.</p>
        <a href="{% url 'zivotinja_create' %}">Dodaj novu životinju</a>
    {% endif %}
    <a href="{% url 'zivotinja_create' %}">Dodaj novu životinju</a></br>
    <a href="{% url 'arhivirane_zivotinje' %}">Arhivirane životinje</a>
{% endblock %}
