<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zoo Management{% endblock %}</title>
    </head>
<body>
    <header>
        <h1>Zoološki Vrt Upravljanje</h1>
        <nav>
            <ul>
                <li><a href="{% url 'nastamba_list' %}">Nastambe</a></li>
                <li><a href="{% url 'zivotinja_list' %}">Životinje</a></li>
                <li><a href="#">Radnici</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Zoološki Vrt</p>
    </footer>
</body>
</html>
